@font-face {
  font-family: 'Inconsolata-Medium.ttf', monospace;
  src: url('../fonts/Inconsolata-Medium.ttf');
}

:root {
  --dark: #1c1c1c;
  --orange: #fea71c;
  --light: #e5e5e5;
  --green: #00f04c;
  --font: 'Inconsolata-Medium.ttf', monospace;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 10px;
  background-color: var(--dark);
  color: var(--orange);
  font-family: var(--font);
  cursor: default;
  text-align: center;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.headerGreen,
.header {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  font-size: 40px;
}

.headerGreen {
  color: var(--green);
}

.selected,
.go,
.button,
.input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid var(--orange);
  background-color: inherit;
  outline: none;
}

.go {
  padding: 20px;
}

.selected {
  color: var(--dark);
  background-color: var(--orange);
}

.footer {
  font-size: 11px;
  position: absolute;
  bottom: 10px;
  text-align: center;
}

#filesList {
  box-sizing: border-box;
  margin-bottom: 3px;
  padding: 10px;
  display: none;
}

.completeItem,
.selectedItem,
.unselectedItem {
  box-sizing: border-box;
  padding: 2px;
  margin-bottom: 2px;
  font-size: 10pt;
  border: 1px solid var(--orange);
}

.selectedItem {
  background-color: var(--orange);
  color: var(--dark);
}

.completeItem {
  background-color: var(--green);
  color: var(--dark);
  border: 1px solid var(--green);
}

.fileItem:hover,
.selected:hover,
.button:hover {
  border: 1px solid var(--light);
  color: var(--light);
}

.copyright:hover,
.support:hover {
  color: var(--light);
}
