@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.ttf');
}

:root {
  --dark: #1c1c1c;
  --orange: #fea71c;
  --light: #e5e5e5;
  --green: #00f04c;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--dark);
  color: var(--light);
  font-family: 'Montserrat-Regular';
  cursor: default;
  -webkit-user-select: none;
}

#mainContent {
  box-sizing: border-box;
  padding: 5%;
  width: 100%;
}

#header {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 5%;
  font-size: 25pt;
  text-align: center;
  color: var(--orange);
}

#openMod {
  display: none;
}

#modPath {
  font-family: inherit;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 1%;
  padding: 2%;
  color: var(--light);
  background-color: var(--dark);
  border: 1px solid var(--light);
  outline: none;
}

#fullUpdate,
#openModLabel {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 1%;
  padding: 1%;
  color: var(--orange);
  border: 1px solid var(--orange);
  font-size: 8pt;
  text-align: center;
}

#ready,
#go {
  box-sizing: border-box;
  width: 100%;
  padding: 5%;
  text-align: center;
  color: var(--orange);
  border: 1px solid var(--orange);
}

#ready {
  display: none;
  border: none;
  color: var(--green);
}

#fullUpdate:hover,
#go:hover,
#openModLabel:hover {
  color: var(--light);
  border: 1px solid var(--light);
}

#modPath:focus {
  color: var(--orange);
  border: 1px solid var(--orange);
}
