@font-face {
  font-family: 'Inconsolata-Medium.ttf', monospace;
  src: url('../fonts/Inconsolata-Medium.ttf');
}

:root {
  --dark: #1c1c1c;
  --orange: #fea71c;
  --light: #e5e5e5;
  --green: #00f04c;
  --font: 'Inconsolata-Medium.ttf', monospace;
}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  text-align: center;
  font-family: var(--font);
  cursor: default;
  color: var(--orange);
  user-select: none;
}

body {
  margin: 0;
  padding: 10px;
  background-color: var(--dark);
}

.header {
  width: 100%;
  font-size: 30pt;
  margin: 20px 0;
}

.input {
  width: 100%;
  margin-bottom: 4px;
  padding: 5px;
  background: none;
  color: var(--light);
  border: 1px solid var(--orange);
}

.btn {
  display: inline-block;
  width: 100%;
  margin-bottom: 4px;
  padding: 5px;
  border: 1px solid var(--orange);
}

.item {
  width: 90%;
  padding: 2px;
  font-size: 10pt;
}

.selectedItem {
  border-color: var(--green);
  color: var(--green);
}

.go {
  padding: 15px;
}

.footer {
  font-size: 8pt;
}

.foo:hover {
  color: var(--light);
}

.btn:hover {
  color: var(--light);
  border-color: var(--light);
}
