@font-face {
  font-family: 'Hezaedrus-Regular';
  src: url('../fonts/Hezaedrus-Regular.ttf');
}

:root {
  --dark: #1c1c1c;
  --orange: #fea71c;
  --light: #e5e5e5;
  --green: #00f04c;
  --font: 'Hezaedrus-Regular';
}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  text-align: center;
  font-family: var(--font);
  color: var(--light);
  user-select: none;
  text-transform: uppercase;
}

body {
  margin: 0;
  padding: 10px;
  background-color: var(--dark);
}

hr {
  width: 90%;
  height: 1px;
  border: none;
  background-color: rgba(229, 229, 229, 0.2);
}

.btn {
  display: block;
  margin-bottom: 3px;
  padding: 8px;
  background-color: rgba(229, 229, 229, 0.2);
  /* border-left: 2px solid var(--light); */
  /* border-right: 2px solid var(--light); */
}

.btnGreen {
  border-color: var(--green);
  color: var(--green);
}

.item {
  width: 90%;
  padding: 5px;
  font-size: 12px;
  margin: 3px auto;
}

.selItem {
  color: var(--green);
  border-color: var(--green);
}

.btnAct {
  width: 80%;
  margin: 5px auto;
  padding: 4px;
  font-size: 10px;
  /* border-left: none; */
  /* border-right: none; */
  /* border-top: 1px solid var(--light); */
  /* border-bottom: 1px solid var(--light); */
}

.go {
  padding: 15px;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 5px;
  font-size: 10px;
}

.btn:hover {
  color: var(--orange);
  border-color: var(--orange);
  cursor: pointer;
}

.foo:hover {
  color: var(--orange);
  cursor: pointer;
}
